<!DOCTYPE HTML>

<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js">
            
        </script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css">
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
            
        </script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <button class="btn btn-default">
                Cras justo odio
            </button>
            <button class="btn btn-default">
                Dapibus ac facilisis in
            </button>
            <button class="btn btn-primary">
                Cras justo odio
            </button>
            <button class="btn btn-primary">
                Dapibus ac facilisis in
            </button>
            <button class="btn btn-success">
                Cras justo odio
            </button>
            <button class="btn btn-success">
                Dapibus ac facilisis in
            </button>
            <button class="btn btn-info">
                Cras justo odio
            </button>
            <button class="btn btn-info">
                Dapibus ac facilisis in
            </button>
            <button class="btn btn-warning">
                Cras justo odio
            </button>
            <button class="btn btn-warning">
                Dapibus ac facilisis in
            </button>
            <button class="btn btn-danger">
                Cras justo odio
            </button>
            <button class="btn btn-danger">
                Dapibus ac facilisis in
            </button>
            <button class="btn btn-link">
                Cras justo odio
            </button>
            <button class="btn btn-link">
                Dapibus ac facilisis in
            </button>
            <div class="btn-group">
                <button class="btn btn-default">
                    Cras justo odio
                </button>
                <button class="btn btn-primary">
                    Dapibus ac facilisis in
                </button>
                <button class="btn btn-success">
                    Morbi leo risus
                </button>
                <button class="btn btn-info">
                    Porta ac consectetur a
                </button>
                <button class="btn btn-warning">
                    Vestibulum at eros
                </button>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 25%">
                    
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%">
                    
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Cras justo odio
                </li>
                <li class="list-group-item">
                    Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                    Morbi leo risus
                </li>
                <li class="list-group-item">
                    Porta ac consectetur a
                </li>
                <li class="list-group-item">
                    Vestibulum at eros
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading">
                    This is a heading
                </div>
                <div class="panel-body">
                    This is the body
                </div>
                
                <div class="panel-footer">
                    This is the footer
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    This is a heading
                </div>
                <div class="panel-body">
                    This is the body
                </div>
                
                <div class="panel-footer">
                    This is the footer
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    This is a heading
                </div>
                <div class="panel-body">
                    This is the body
                </div>
                
                <div class="panel-footer">
                    This is the footer
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    This is a heading
                </div>
                <div class="panel-body">
                    This is the body
                </div>
                
                <div class="panel-footer">
                    This is the footer
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    This is a heading
                </div>
                <div class="panel-body">
                    This is the body
                </div>
                
                <div class="panel-footer">
                    This is the footer
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    This is a heading
                </div>
                <div class="panel-body">
                    This is the body
                </div>
                
                <div class="panel-footer">
                    This is the footer
                </div>
            </div>
            <ul class="pagination">
                <li>
                    <a href="#">
                        &lt;&lt;
                    </a>
                </li>
                <li>
                    <a href="#">
                        1
                    </a>
                </li>
                <li>
                    <a href="#">
                        2
                    </a>
                </li>
                <li>
                    <a href="#">
                        3
                    </a>
                </li>
                <li>
                    <a href="#">
                        4
                    </a>
                </li>
                <li>
                    <a href="#">
                        5
                    </a>
                </li>
                <li>
                    <a href="#">
                        &gt;&gt;
                    </a>
                </li>
            </ul>
            <ul class="pager">
                <li class="previous">
                    <a href="#">
                        Previous
                    </a>
                </li>
                <li class="next">
                    <a href="#">
                        Next
                    </a>
                </li>
            </ul>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        Foo
                    </a>
                </li>
                <li>
                    <a href="#">
                        Bar
                    </a>
                </li>
                <li>
                    <a href="#">
                        Baz
                    </a>
                </li>
            </ol>
        </div>
    </body>
</html>
